* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: radial-gradient(circle, #5baaff, #6cb2f6, #7fbaec, #95c0e2, #abc6d8, #abc4d4, #aac1d1, #aabfcd, #93b4ce, #7da9cf, #699dd0, #5691d1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    grid-gap: 1.5rem;
    perspective: 800px;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: #000(0, 0, 0, 0.2);
}

.face, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.back {
    background-color: #000;
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg);
}